.arrow-td {
  width: 1px;
  padding: 0px;

}
.toggle-view img{
	transition: all .2s ease-in-out;
	width: 10px;

}
.rotate-me img {
	transform: rotate(90deg);
	width: 10px;
}

.tr1 {
	background-color: lightgray;
}

img {
	width: 15px;
	height: 15px;
}

table {
	border: 1px solid black;
}



thead {
	text-indent: 0px;
	padding: 0px;
	text-align: left;
}

.firstone {
	width: 100px;
}


td {
	width: 0px;
    text-align: left;
    padding: 0px;
    color: black;  
    transform: scale(1);
}

th {
  	width: 0px;
    text-align: left;
    padding: 0px;
    color: black;
  	background-color: lightblue;
    transform: scale(1);
}


td:hover {
    background-color: lightgoldenrodyellow;
    transform: scale(1.015);
}
